In [4]:
list=[]
print("enter a 10 number")
for i  in range(10):
    num=int(input(f"enter number {i+1}:"))
    list.append(num)
print(list)
list.sort(reverse="true")
x=list[1]
print("second largest", x)

enter a 10 number

enter number 1: 1
enter number 2: 2
enter number 3: 3
enter number 4: 4
enter number 5: 5
enter number 6: 6
enter number 7: 7
enter number 8: 8
enter number 9: 9
enter number 10: 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
second largest 9

In [10]:
L=[1,2,3,4,5,6]
x=[]
for n in L:
    if n%2!=0:
        x.append(n)
print(x)

[1, 3, 5]

In [13]:
std=["ankit","akshay","salim","anshul"]
name=input("enter the name to be removed")
print(std)
if name in std :
    std.remove(name)
    print(name,"removed")
print(std)

enter the name to be removed salim

['ankit', 'akshay', 'salim', 'anshul']
salim removed
['ankit', 'akshay', 'anshul']

In [3]:
list=[2,3,6,5,8,9,10]
x=int(input("enter a number to be seached"))
if x in list:
    index=list.index(x)
    print(f"number found at index {index}.removing it.")
    list.remove(x)
else:
    print("number not found")

print("updated", list)

enter a number to be seached 2

number found at index 0.removing it.
updated [3, 6, 5, 8, 9, 10]

In [4]:
fruits=["apple","mango","banana","grape","date"]
fruits.sort()
print("sorted",fruits)

sorted ['apple', 'banana', 'date', 'grape', 'mango']

In [9]:
words=["python","c++","python","c","Sql"]
count=words.count("python")
print(count)

2

In [10]:
a=[1,2,3,4,5,6]
b=a.copy()
b.append(7)
print("original" ,a)
print("copied" ,b)

original [1, 2, 3, 4, 5, 6]
copied [1, 2, 3, 4, 5, 6, 7]

In [11]:
list=[1,2,3,4,5,6,7]
mid=len(list)//2
num=int(input("enter a number to be inserted in middle"))
list.insert(mid,num)
print("inserted " ,list)

enter a number to be inserted in middle 12

inserted  [1, 2, 3, 12, 4, 5, 6, 7]

In [12]:
list=[1,2,3,4,5,6,7]
while list:
    popped=list.pop()
    print("popped element" ,popped)
print("list",list)

popped element 7
popped element 6
popped element 5
popped element 4
popped element 3
popped element 2
popped element 1
list []

In [13]:
numbers = [1, 2, 2, 3, 4, 4, 5, 5, 5]
unique = []
for n in numbers:
    if numbers.count(n) == 1:
        unique.append(n)

print("Unique elements:", unique)

Unique elements: [1, 3]