In [2]:
import sqlite3

conn = sqlite3.connect('students.db')

cursor = conn.cursor()

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
''')
conn.commit()
print("Table created successfully.")

Table created successfully.

In [4]:
def insert_student(name, age, grade):
    cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", (name, age, grade))
    conn.commit()
    print("Student inserted successfully.")


insert_student('ankit', 20, 'A')
insert_student('akshay', 19, 'B')

Student inserted successfully.
Student inserted successfully.

In [5]:
def fetch_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    for row in rows:
        print(row)


fetch_students()

(1, 'ankit', 20, 'A')
(2, 'akshay', 19, 'B')