In [1]:
#library management

In [6]:
import sqlite3
conn=sqlite3.connect('library.db')
cursor=conn.cursor()

In [8]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    book_id TEXT PRIMARY KEY,
    title TEXT,
    author TEXT,
    total_copies INTEGER,
    available INTEGER
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    user_id TEXT PRIMARY KEY,
    name TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS transactions (
    trans_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id TEXT,
    book_id TEXT,
    issue_date TEXT,
    return_date TEXT,
    FOREIGN KEY(user_id) REFERENCES users(user_id),
    FOREIGN KEY(book_id) REFERENCES books(book_id)
)
''')

conn.commit()

In [9]:
def add_book(book_id, title, author, total):
    cursor.execute("INSERT INTO books VALUES (?, ?, ?, ?, ?)", 
                   (book_id, title, author, total, total))
    conn.commit()
    print("Book added successfully.")

In [10]:
def register_user(user_id, name):
    cursor.execute("INSERT INTO users VALUES (?, ?)", (user_id, name))
    conn.commit()
    print("User registered successfully.")

In [11]:
import datetime

def issue_book(user_id, book_id):
    cursor.execute("SELECT available FROM books WHERE book_id = ?", (book_id,))
    result = cursor.fetchone()
    if result and result[0] > 0:
        issue_date = str(datetime.date.today())
        cursor.execute("INSERT INTO transactions (user_id, book_id, issue_date, return_date) VALUES (?, ?, ?, NULL)", 
                       (user_id, book_id, issue_date))
        cursor.execute("UPDATE books SET available = available - 1 WHERE book_id = ?", (book_id,))
        conn.commit()
        print("Book issued successfully.")
    else:
        print("Book not available.")

In [12]:
def return_book(user_id, book_id):
    return_date = str(datetime.date.today())
    cursor.execute("""
        UPDATE transactions SET return_date = ? 
        WHERE user_id = ? AND book_id = ? AND return_date IS NULL
    """, (return_date, user_id, book_id))
    cursor.execute("UPDATE books SET available = available + 1 WHERE book_id = ?", (book_id,))
    conn.commit()
    print("Book returned successfully.")

In [13]:
def view_books():
    cursor.execute("SELECT * FROM books")
    for row in cursor.fetchall():
        print(row)

In [14]:
while True:
    print("\n1. Add Book\n2. Register User\n3. Issue Book\n4. Return Book\n5. View Books\n6. Exit")
    choice = input("Enter your choice: ")

    if choice == '1':
        add_book(input("Book ID: "), input("Title: "), input("Author: "), int(input("Total Copies: ")))
    elif choice == '2':
        register_user(input("User ID: "), input("Name: "))
    elif choice == '3':
        issue_book(input("User ID: "), input("Book ID: "))
    elif choice == '4':
        return_book(input("User ID: "), input("Book ID: "))
    elif choice == '5':
        view_books()
    elif choice == '6':
        break
    else:
        print("Invalid choice.")

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  1
Book ID:  003
Title:  twist
Author:  ank
Total Copies:  2

Book added successfully.

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  2
User ID:  12
Name:  ankit

User registered successfully.

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  3
User ID:  ankit
Book ID:  003

Book issued successfully.

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  4
User ID:  12
Book ID:  003

Book returned successfully.

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  5

('003', 'twist', 'ank', 2, 2)

1. Add Book
2. Register User
3. Issue Book
4. Return Book
5. View Books
6. Exit

Enter your choice:  6